@import url('https://fonts.googleapis.com/css?family=Kanit:400,700|Sriracha&display=swap');


$font-title: 'Sriracha', cursive;
$font: 'Kanit', sans-serif;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
  linear-gradient(90deg, #0000008c 0%, rgba(33,29,37,0.882791) 47%, #1f0e0896 100%), url('./assets/bg.png') ;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  // background-color: burlywood;
  

}